
                                      /******** CSS For week2 project by Waile Drissi *****/

/******** Baner *****/
.baner{ font-size: 30px;
	  letter-spacing: 8px;
	  font-family: cursive;
	  background-color: #333333;
	  color: #d9ad7c;
}
/******** Box 1 *****/
#box1{
	width: 400px; height: 500px;
	padding: 0px ;
	border: 5px solid #333333;
	margin: 8px;
    float: left;
    box-sizing: border-box;
    background-color: #660000;
    box-sizing: border-box;
    position: left;
}
  #content1{
	background-color: #800000;
	font-size: 20px;
	text-align: left;
	font-family: cursive;
}
/******** Box 2 *****/
#box2{
	width: 400px; height: 500px;
	padding: 0px ;
	border: 5px solid #333333;
	margin: 8px;
    float: left;
    box-sizing: border-box;
    background-color: #444422;
    box-sizing: border-box;
}
  #content2{
	background-color: #666633;
	font-size: 20px;
	text-align: left;
	font-family: cursive;
}
/******** Box 3 *****/
#box3{
	width: 400px; height: 500px;
	padding: 0px ;
	border: 5px solid #333333;
	margin: 8px;
    float: left;
    box-sizing: border-box;
    background-color: #b36b00;
    box-sizing: border-box;
}
  #content3{
	background-color: #cc7a00;
	font-size: 20px;
	text-align: left;
	font-family: cursive;
}
/******** Mobile View *****/
@media (max-width: 767px){
	#box1 { width: 95%;
		    height: 95%
	}
	#box2 { width: 95%;
		    height: 95%
	}
	#box3 { width: 95%;
		    height: 95%
	}
	h2{
		font-size: 15px;
	}
.baner{
	font-size: 90%;

	}
#content1{
	font-size: 90%;

	}
	#content2{
	font-size: 90%;

	}
	#content3{
	font-size: 90%;

	}
	img{
		width: 10%;
		height: 10%;
	}
}
/******** Tablet View *****/
@media (min-width: 768px) and (max-width:991px){
	#box3 { width: 700px

	}
	#box1 { width:  47%;
		    height: 100%;
	}
	#box2 { width:  47%;
		    height: 100%
	}
	#box3 { width:  96%;
		    height: 100%;
	}
	h2{
		font-size: 20px;
	}
.baner{
	font-size: 130%;

	}
#content1{
	font-size: 110%;

	}
	#content2{
	font-size: 110%;

	}
	#content3{
	font-size: 110%;
	text-align: center;

	}
	img{
		width: 10%;
		height: 10%;
	}
}
/******** Normal View *****/
@media (min-width: 992px){
	#box1 { width: 32%;
		    height: 100%
	}
	#box2 { width: 32%;
		    height: 100%
	}
	#box3 { width: 32%;
		    height: 100%
	}
	h2{
		font-size: 30px;
	}
.baner{
	font-size: 170%;

	}
#content1{
	font-size: 130%;

	}
	#content2{
	font-size: 130%;

	}
	#content3{
	font-size: 130%;

	}
	img{
		width: 10%;
		height: 10%;
	}
}

